/other/Arvutus/nbproject/private/
/other/JavaApplication39/nbproject/private/
/other/Arvutus/build/
/other/JavaApplication40/nbproject/private/
/w5.1/CtoF/nbproject/private/
/w5.1/CtoF/build/
/w5.2/Roots/nbproject/private/
/w5.2/Roots/build/
/w5.3/PangaDeposiit/nbproject/private/
/w5.3/PangaDeposiit/build/
/w5.3/Developer/nbproject/private/
/w5.4/Developer/nbproject/private/
/w5.4/Developer/build/
/w5.5/JavaApplication52/nbproject/private/
/w5.5/twoDotsDistance/nbproject/private/
/w5.5/twoDotsDistance/build/
/w5.5/twoDotsDistance/dist/