/other/Arvutus/nbproject/private/
/other/JavaApplication39/nbproject/private/
/other/Arvutus/build/
/other/JavaApplication40/nbproject/private/
/w5.1/CtoF/nbproject/private/
/w5.1/CtoF/build/
/w5.2/Roots/nbproject/private/
/w5.2/Roots/build/